<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="br.ufrn.dimap.pairg.sumosensei.android"
    android:versionCode="7"
    android:versionName="0.1.13-beta" >

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="19" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />

    <supports-screens
        android:largeScreens="true"
        android:normalScreens="false"
        android:smallScreens="false"
        android:xlargeScreens="true"
        android:requiresSmallestWidthDp="600" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <meta-data
            android:name="com.google.android.gms.games.APP_ID"
            android:value="@string/app_id" />
        <meta-data
            android:name="com.google.android.gms.appstate.APP_ID"
            android:value="@string/app_id" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".EscolhaNivelActivity"
            android:label="@string/title_activity_escolha_nivel"
            android:screenOrientation="portrait" >
        </activity>

        <service
            android:name=".BackgroundSoundService"
            android:enabled="true" >
        </service>

        <activity
            android:name=".LojinhaMaceteKanjiActivity"
            android:label="@string/title_activity_lojinha_macete_kanji"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".VerMaceteKanjiActivity"
            android:label="@string/title_activity_ver_macete_kanji"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".DadosPartidasAnteriores"
            android:label="@string/title_activity_dados_partidas_anteriores"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".MostrarDadosUmaPartida"
            android:label="@string/title_activity_mostrar_dados_uma_partida"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".ExplicacaoTeppo"
            android:label="Sumo Sensei"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".TreinoTeppo"
            android:label="@string/title_activity_treino_teppo"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".FimDeTreino"
            android:label="@string/title_activity_fim_de_treino"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".TelaModoCasual"
            android:label="@string/title_activity_tela_modo_casual"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".Configuracoes"
            android:label="@string/title_activity_configuracoes"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".VerPalavrasTreinadasTeppoActivity"
            android:label="@string/title_activity_ver_palavras_treinadas_teppo"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".EscolhaOrdemDosKanjisActivity"
            android:label="@string/title_activity_escolha_ordem_dos_kanjis"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".ExplicacaoAprenderKanjisPrimeiroActivity"
            android:label="@string/title_activity_explicacao_aprender_kanjis_primeiro"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".TelaModoCompeticao"
            android:label="@string/title_activity_tela_modo_competicao"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".TelaRankingActivity"
            android:label="@string/title_activity_tela_ranking"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".CadastroActivity"
            android:label="@string/title_activity_cadastro"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".TelaRecuperarSenha"
            android:label="@string/title_activity_tela_recuperar_senha"
            android:screenOrientation="portrait"  >
        </activity>
        <activity
            android:name=".FullscreenActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_fullscreen"
            android:theme="@style/FullscreenTheme" >
        </activity>
        <activity
            android:name=".TelaPrincipalHistoricoUmaPartida"
            android:label="@string/title_activity_tela_principal_historico_uma_partida"
            android:screenOrientation="portrait"  >
        </activity>
        <activity
            android:name=".ExplicacaoItensActivity"
            android:label="@string/title_activity_explicacao_itens"
            android:screenOrientation="portrait"  >
        </activity>
    </application>

</manifest>
